/* 设置字体颜色 */
#div_span_prompt{
    color: red;
}

/* 定义按钮背景与边框颜色 */
.btn {
    background-color: rgba(249, 249, 249, 0.8);
    border-color: #ccc;
}

.padding-0{
    padding: 0px
}

#div-01{
    margin-right: 0px;
    margin-left: 0px;
}
