/* 设置字体颜色 */
#div_span_prompt{
    color: red;
}

/* 定义按钮背景与边框颜色 */
.btn {
    background-color: rgba(249, 249, 249, 0.8);
    border-color: #ccc;
}

#div-row-0>div,#div-th-border-0>div{
    margin-right: 0px;
    margin-left: 0px;
}
.div-th-border-0>table,#div-th-border-0 td,#div-input th{
    border-top:1px solid rgba(221, 221, 221, 0);
    border:1px solid rgba(221, 221, 221, 0);
    margin-bottom: 0px;
}
#div-th-border-0 input{
    width: 100%;
}
h2{
    margin-bottom: 20px;
}
.table{
    margin-bottom: 0px;
}
hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
#div-hr-margin-bottom-20{
    margin-bottom: 15px;
}
